{% extends 'layout.html' %}

<!DOCTYPE html>
<html>

<head>
    {% block css %}
    <style>
        
    </style>
    {% endblock %}
</head>

<body>
    {% block content %}
    <div class="row justify-content-center">
        <b>Landing</b>
    </div>
    <div class="row justify-content-center">
    <div class="column">
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <p class="card-text" id="content">Welcome to the Task Tracker, a simple planner app developed by <a href="https://wangzi190.github.io/portfolio">Project C190</a>. Click the above links to navigate.</p>
            </div>
        </div>
    </div>
    </div>
    {% endblock %}
</body>

</html>