{% extends 'layout.html' %}

<!DOCTYPE html>
<html>

<head>
  <!--
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <link href="style.css" rel="stylesheet" type="text/css" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  -->
  {% block css %}
  <style>
    .top {
        margin-left: 0.5rem;
        margin-right: 0.5rem;
        margin-bottom: 0.5rem;
    }
    .btm {
        margin-left: 0.5rem;
        margin-right: 0.5rem;
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
    }
    .faddCategory {
      margin-bottom: 0.5rem;
    }
    #categoryName {
      margin-bottom: 1.5rem;
    }
    input[type="text"]{
        background-color:#b1eaf2 !important
    }
    #hiddenTitle {
        color: #b3e9f5;
    }
    #deleteButton {
        margin-top: 0.5rem;
    }
  </style>
  {% endblock %}
</head>
<body>
{% block content %}
  <div class="container">
        <div class="row justify-content-center">
            <b id="hiddenTitle">Task Menu</b>
        </div>
        <div class="row justify-content-center">

            <div class="column">
                <div class="row justify-content-center">
                    <div class="card top" style="width: 18rem;">
                        <div class="card-body">
                            <form method="POST" id="addCategory" action={{url_for('tasks.categories_action')}}>
                                <label for="categoryName" class="faddCategory"><b>Category Name</b></label>
                                <input type="text" class="faddCategory form-control" id="categoryName" name="categoryName">
                                <input type="hidden" name="detect" value="create">
                                <input type="submit" class="faddCategory btn btn-primary" name="action" value="Create">
                              </form>
                        </div>
                    </div>
                    <div class="card top" style="width: 18rem;">
                        <div class="card-body">
                            <table class="table table-sm table-borderless table-hover">
                                <thead>
                                    <tr>
                                        <td><b>ID</b></td>
                                        <td><b>Name</b></td>
                                    </tr>
                                </thead>
                                <tbody>
                                {% for category in categories %}
                                    {% if category.user_id == current_user.id %}
                                    <tr>
                                        <td>{{ category.id }}</td>
                                        <td>{{ category.categoryName }}</td>
                                    </tr>
                                    {% endif %}
                                    
                                {% endfor %}
                                </tbody>    
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="row justify-content-center">
                    <div class="card btm" style="width: 18rem;">
                        <div class="card-body">
                            <form method="POST" id="updateCategory" action={{url_for('tasks.categories')}}>
                            <label for="categoryToUpdate" class="faddCategory"><b>ID →</b></label>
                            <select id="categoryToUpdate" name="categoryToUpdate">
                                {% for category in categories %}
                                    {% if category.user_id == current_user.id %}
                                        <option value={{ category.id }}>{{ category.id }}</option>
                                    {% endif %}
                                {% endfor %}
                            </select><br>
                            <input type="hidden" name="detect" value="update">
                            <input type="submit" id="deleteButton" class="btn btn-primary" name="action" value="Update">
                            </form>
                        </div>
                    </div>
                    <div class="card btm" style="width: 18rem;">
                        <div class="card-body">
                            <form method="POST" id="deleteCategory" action={{url_for('tasks.categoryToDelete')}}>
                            <label for="categoryToDelete" class="faddCategory"><b>ID →</b></label>
                            <select id="categoryToDelete" name="categoryToDelete" value="null">
                                {% for category in categories %}
                                    {% if category.user_id == current_user.id %}
                                        <option value={{ category.id }}>{{ category.id }}</option>
                                    {% endif %}
                                {% endfor %}
                            </select><br>
                            <input type="hidden" name="detect" value="delete">
                            <input type="submit" id="deleteButton" class="btn btn-primary" name="action" value="Delete">
                            </form>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
{% endblock %}
</body>
</html>