{% extends 'layout.html' %}

<!DOCTYPE html>
<html>

<head>
  <!--
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <link href="style.css" rel="stylesheet" type="text/css" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  -->
  {% block css %}
  <style>
    .top {
      margin-top: 2rem;
    }
    .faddTask {
      margin-bottom: 0.5rem;
    }
    #remember {
      margin-top: 0.5rem;
      margin-bottom: 1.5rem;
    }
    #sections {
      margin-bottom: 1.5rem;
    }
    #text {
      margin-left: 0.5rem;
    }
  </style>
  {% endblock %}
</head>
<body>
  {% block content %}
  <div class="container">
    <div class="row justify-content-center">
      <div class="column">
        <form method="POST" id="addTask" action={{url_for('tasks.task_create')}}>
          <label for="taskName" class="faddTask top"><b>Task Name</b></label>
          <input type="text" class="faddTask form-control" name="taskName">

          <label for="monthDayYear" class="faddTask"><b>Date</b></label>
          <input type="date" class="faddTask form-control" name="monthDayYear">
          
        <div class="row">
          <div class="col">
          <label for="value" class="faddTask"><b>Value</b></label>
          <input type="number" class="faddTask form-control" name="value" min="0" value="0">
          </div>
          
          <div class="col">
          <label for="Sections" class="faddTask"><b>Sections</b></label>
          <input type="number" class="faddTask form-control" id="sections" name="sections" min="0" value="0">
          </div>
        </div>
          
          <input type="submit" class="faddTask btn btn-primary" value="Create">

          <label for="label" id="text">Alternatively, <a href={{ url_for('tasks.view') }}>view your tasks</a>.</label>
          <input type="hidden" value="null" name="label">
        </form>
      </div>
    </div>
  </div>
  {% endblock %}
</body>
</html>