{% extends 'layout.html' %}

<!DOCTYPE html>
<html>

<head>
    {% block css %}
    <style>

    </style>
    {% endblock %}
</head>

<body>
    {% block content %}
    <div class="container">
    <div class="row justify-content-center">
        Your Tasks<br>
    </div>
    <div class="row justify-content-center">
        <table class="table table-sm table-borderless table-hover">
        <thead>
            <tr>
                <td><b>ID</b></td>
                <td><b>Name</b></td>
                <td><b>Category</b></td>
                <td><b>Stickers</b></td>
                <td><b>Date</b></td>
                <td><b>Progress</b></td>
                <td><b>Value</b></td>
                <td><b>Complete?</b></td>
            </tr>
        </thead><br>
        <tbody>
        {% for task in tasks %}
            {% if task.user_id == current_user.id %}
            <tr>
                <td>{{ task.id }}</td>
                <td>{{ task.taskName }}</td>
                <td>{{ task.category }}</td>
                <td>{{ task.stickers }}</td>
                <td>{{ task.month }}/{{ task.day }}/{{ task.year }}</td>
                <td>{{ task.progress }}/{{ task.sections }}</td>
                <td>{{ task.value }}</td>
                <td>{{ task.completed }}</td>
            </tr><br>
            {% endif %}
        {% endfor %}
        </tbody>    
        </table>
    </div>
    </div>
    {% endblock %}
</body>
</html>